html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Roboto font */
@font-face {
  font-family: "Roboto-Black";
  src: url(fonts/Roboto-Black.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Open-Sans font */
@font-face {
  font-family: "Open-Sans";
  src: url(fonts/OpenSans-SemiBold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #515151;
  font-size: 14px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

/* HEADER SECTION  */

.page-header {
  width: 1100px;
  margin: 20px auto 22px;
}

.site-logo {
  font-family: "Roboto", sans-serif;
  float: left;
  font-size: 30px;
  text-transform: uppercase;
  color: #555252;
  font-weight: 300;
  margin: 0;
  padding: 0 15px;
}

.site-logo::first-letter {
  color: #1abc9c;
  font-weight: bold;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  margin-top: 10px;
  font-family: "Open-Sans", sans-serif;
  font-weight: 700;
}

.site-navigation li {
  float: left;
}

.site-navigation li:not(:last-child) {
  margin-right: 32px;
}

.nav-link {
  text-decoration: none;
  font-size: 14px;
  color: #0f0101;
  font-weight: 700;
}

.list-item a:hover {
  color: #1abc9c;
}

/* SLIDER SECTION */

.slider {
  width: 1600px;
  height: 600px;
}

.container {
  max-width: 1110px;
  padding: 0;
  margin: 0 auto;
}

.content {
  color: #fff;
  font-family: "Roboto-Black" sans-serif;
  font-weight: bold;
}

.top-line {
  font-size: 60px;
}

.bottom-line {
  font-size: 24px;
}

.sign {
}

/* COLLECTION SECTION */

.new-collection {
  width: 1600px;
  margin: 0 auto;
  padding-top: 92px;
  background-color: #e9f0fd;
}

.collection-header {
  position: relative;
  font-family: "Roboto-Black", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #515151;
  margin: 0 auto;
  font-size: 48px;
  padding-bottom: 28px;
}

.collection-header::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  content: "";
  height: 7px;
  width: 164px;
  background: #4ec6ab;
}

.card-list {
  width: 1110px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 80px;
}

/* 
.card {
  position: relative;
  float: left;
  padding: 0 15px;
  margin-bottom: 30px;
  width: 25%;
}

.card:hover .card-footer {
  background: #1abc9c;
}

.card:hover .overlay {
  opacity: 55%;
}

.overlay {
  position: absolute;
  width: 255px;
  height: 282px;
  background-color: #000000;
  opacity: 55%;
}

.item-img {
  background: #e9f0fd;
  position: relative;
}

.card-footer {
  overflow: hidden;
  color: #fff;
  background: #323232;
  height: 40px;
  font-family: "Roboto-Black", sans-serif;
}

.card-name {
  font-family: "Roboto";
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  padding: 4px 14px;
  margin: 0;
}

.card-price {
  float: right;
  background-color: rgba(255, 255, 255, 0.44);
  padding: 4px 11px;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
}
*/
.card {
  float: left;
  position: relative;
  width: 255px;
  height: 322px;
  margin: 0;
}

.card:not(:last-child) {
  margin-right: 30px;
}

.overlay {
  position: absolute;
  height: 282px;
  width: 255px;
  background-color: #000000;
  opacity: 0%;
}

.card:hover .overlay {
  opacity: 55%;
}

.icons {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.like {
  height: 50px;
  width: 50px;
  border-radius: 1px;
  background-color: #1abc9c;
}

.like::before {
  background-image: url(/icons/like.svg);
}

.shuffle {
  height: 50px;
  width: 50px;
  background-color: #1abc9c;
}

.shuffle::before {
  background-image: url(/icons/shuffle.svg);
}

.clock {
  height: 50px;
  width: 50px;
  background-color: #1abc9c;
}

.clock::before {
  background-image: url(/icons/clock.svg);
}

.cart {
  height: 50px;
  width: 166px;
  background-color: #323232;
}

.cart::before {
  background-image: url(/icons/cart.svg);
}

.card-footer {
  background-color: #323232;
  width: 255px;
  height: 40px;
}

.card-description {
  margin: 0 0 0 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: bold;
  float: left;
  transform: translateY(40%);
}

.price {
  margin: 0 12px 0 0;
  text-align: right;
  transform: translateY(40%);
  font-size: 18px;
  font-family: "Roboto";
  font-weight: bold;
  color: #ffffff;
}

/* FOOTER-SECTION */

.footer-box {
  margin-top: 20px; /* !!!!!! */
  position: relative;
  height: 88px;
  background-color: #323232;
}

.footer-content {
  position: absolute;
  margin: 0 auto;
  padding: 0;
  color: #fefefe;
  font-weight: normal;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.designer-name {
  color: #46bfa9;
}
