* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: "OpenSans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

/* Roboto font */
@font-face {
  font-family: "Roboto-Black";
  src: url(fonts/Roboto-Black.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Open-Sans font */
@font-face {
  font-family: "Open-Sans";
  src: url(fonts/OpenSans-SemiBold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #515151;
  font-size: 14px;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.wrapper {
  width: 1170px;
  padding: 0 15px;
  padding-top: 33px;
  margin: 0 auto;

}

/* HEADER SECTION  */

.page-header {
  padding: 0 15px;
}

.site-logo {
  display: inline-block;
  font-size: 30px;
  text-transform: uppercase;
  color: rgb(85, 82, 82);
  font-weight: normal;
  margin: 0;
}

.site-logo::first-letter {
  color: rgb(26, 188, 156);
  font-weight: bold;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  margin-top: 10px;
}

.site-navigation li {
  float: left;
}

.site-navigation li:not(:last-child) {
  margin-right: 37px;
}

.nav-link {
  color: rgb(15, 1, 1);
}

.list-item a:hover {
  color: #1abc9c;
}

/* FEATURES SECTION */

.featured-products {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #515151;
  margin-top: 93px;
  font-family: "Roboto-Black", sans-serif;
  font-size: 48px;
  line-height: 32px;
  padding-bottom: 39px;
}

.featured-products::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  content: "";
  height: 7px;
  width: 164px;
  background: #4ec6ab;
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  display: block;
}

.card-list {
  width: 1140px;
  margin: 0 0px;
  overflow: hidden;
  margin-top: 92px;
}

.card {
  float: left;
  padding: 0 15px;
  margin-bottom: 30px;
  width: 25%;
}

.card:hover .card-footer {
  background: #1abc9c;
}

.card-img {
  background: #e9f0fd;
  position: relative;
}

.card-footer {
  overflow: hidden;
  color: #fff;
  background: #323232;
  height: 40px;
  font-family: "Roboto-Black", sans-serif;
}

.card-name {
  font-family: "Roboto";
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  padding: 4px 14px;
  margin: 0;
}

.card-price {
  float: right;
  background-color: rgba(255, 255, 255, 0.44);
  font-size: 18px;
  line-height: 32px;
  padding: 4px 11px;
  font-weight: bold;
}

/* LATEST-NEWS SECTION */
.latest-news {
  list-style: none;
  margin-top: 66px;
  padding: 0;
}

.news-header {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  color: #555252;
  margin: 0;
  font-family: "Roboto-Black", sans-serif;
  padding-bottom: 28px;
}

.news-header::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  content: "";
  height: 7px;
  width: 164px;
  background: #4ec6ab;
}

.news-link {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #555252;
  text-transform: none;
}

.news-name {
  position: relative;
  padding-bottom: 14px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0;
}

.news-name::after {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translatex(-28%);
  content: "";
  height: 3px;
  width: 136px;
  background: #4ec6ab;
}

.news-list {
  max-width: 1140px;
  overflow: hidden;
  margin-top: 81px;
  position: absolute;
  line-height: 26px;
  font-size: 14px;
  color: #555252;
}

.news-item {
  position: relative;
  float: left;
  padding: 0 15px;
  margin-bottom: 30px;
  width: 33.3%;
}

.button-box {
  width: 160px;
  height: 50px;
  border: 1px;
  border-radius: 3px;
  background-color: #4ec6ab;
  text-align: center;
  position: relative;
}

.button {
  text-transform: none;
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
  position: absolute;
  top: 25%;
  right: 25%;
}
