html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#header {
  position: absolute;
  right: 0;
  left: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

/* HEADER SECTION */

.header-row {
  display: flex;
}

.logo {
  text-transform: uppercase;
}

.logo a {
  color: #ffffff;
}

.authorization {
  width: 86px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  color: #ffffff;
}

.authorization:hover {
  border: 2px solid #ffffff;
  border-radius: 20px;
}

.title {
  text-align: center;
  color: #ffffff;
}

.header-text {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.title-text {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  margin-bottom: 34px;
}

.find-partner {
  height: 40px;
  border-radius: 20px;
  background-color: #ff4e50;
  font-weight: 700;
  font-size: 14px;
  border: none;
  color: #ffffff;
}

/* MAIN SECTION */

.banner {
  background-size: cover;
  background-color: black;
}

.partners {
  padding-bottom: 72px;
}

.section-main {
  padding-top: 70px;
  text-align: center;
}

.main-title {
  font-weight: 700;
  font-size: 22px;
  margin: 0;
  color: #333333;
}

.partner-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.partner-item {
  width: 220px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.img-photo {
  position: relative;
  margin-bottom: 22px;
}

.img-photo::after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  right: 50px;
  bottom: 8px;
  background-repeat: no-repeat;
  background-position: center;
}

.bradley::after {
  background-image: url(/img/icon1.png);
  background-color: #ff4e50;
}

.lucas::after {
  background-image: url(/img/icon2.png);
  background-color: #ffa507;
}

.heather::after {
  background-image: url(/img/icon3.png);
  background-color: #1cd7ad;
}

.bradley-girl::after {
  background-image: url(/img/icon4.png);
  background-color: #4e73db;
}

.name {
  font-weight: 700;
  font-size: 14px;
  color: #333333;
  margin: 0;
  margin-bottom: 20px;
}

.about {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: #666666;
  margin: 0;
}

.button {
  font-weight: 700;
  font-size: 14px;
  border-radius: 20px;
  border: 2px solid #ff4e50;
  height: 40px;
  background-color: #fff;
  color: #ff4e50;
}
