html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #95e1d3;
}

:hover {
  transition: linear 200ms;
}

/* HEADER SECTION */

.header {
  font-family: "Montserrat", sans-serif;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.navigation {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 50px;
}

.site-logo {
  color: #95e1d3;
  font-size: 30px;
  font-weight: 700;
}

.site-navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 492px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}

.list-item:hover ::after {
  visibility: visible;
}

.nav-link::after {
  position: relative;
  bottom: -11px;
  content: "";
  display: block;
  height: 3px;
  width: auto;
  background-color: #f38181;
  visibility: hidden;
}

.list-item:hover .list-item a {
  color: #95e1d3;
}

.list-item a:hover {
  color: #f38181;
}

/* SERVICES SECTION  */

.header-top {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: normal;
  font-size: 24px;
  padding: 0;
  /* padding-top: 128px; */
  margin: 0;
}

.header-bottom {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.header-bottom::after {
  content: "";
  display: block;
  height: 3px;
  width: 60px;
  background-color: #f38181;
  margin: 40px auto 40px;
}

.services {
  max-width: 1200px;
  margin: 0 auto;
  padding: 128px 0 57px;
}

.services-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  height: 278px;
  justify-content: space-around;
  align-content: space-between;
}

.services-item {
  position: relative;
  flex: 0 0 370px;
}

.services-item:nth-child(n + 3) {
  margin-bottom: 0px;
}

.services-item::before {
  content: "";
  display: block;
  top: 5px;
  height: 32px;
  width: 32px;
}

/* ICONS SECTION */

.icon-clock::before {
  position: absolute;
  background-image: url(/img/icons/photography.png);
  background-repeat: no-repeat;
  background-position: left;
}

.icon-graph::before {
  position: absolute;
  background-image: url(/img/icons/web-desing.png);
  background-repeat: no-repeat;
  background-position: left;
}

.icon-computer::before {
  position: absolute;
  background-image: url(/img/icons/creativity.png);
  background-repeat: no-repeat;
  background-position: left;
}

.icon-book::before {
  position: absolute;
  background-image: url(/img/icons/seo.png);
  background-repeat: no-repeat;
  background-position: left;
}

.icon-house::before {
  position: absolute;
  background-image: url(/img/icons/html.png);
  background-repeat: no-repeat;
  background-position: left;
}

.icon-box::before {
  position: absolute;
  background-image: url(/img/icons/digital.png);
  background-repeat: no-repeat;
  background-position: left;
}

.services-item h3 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #333333;
  font-size: 14px;
  margin: 0;
  margin-left: 60px;
}

.services-item p {
  margin-left: 60px;

  color: #999999;
}

/* TEAM SECTION */

.team {
  margin-top: 25px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.section-header {
  max-width: 1200px;
  margin: 0 auto 90px;
  padding: 0;
}

.team-info {
  color: #999999;
  text-align: center;
  padding: 0px 128px;
}

.team-members {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 64px;
}

.member-img {
  position: relative;
}

.member-img:hover {
  transform: translate(-10px, -10px);
}

.member-img:hover .overlay {
  visibility: visible;
  box-shadow: 10px 10px #95e1d3;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(243, 129, 129, 0.9) 0%,
    rgba(252, 227, 138, 0.9) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.link {
  display: flex;
  background-color: #fce38a;
  width: 55px;
  height: 55px;
  align-items: center;
  justify-content: center;
}

.link:not(:last-child) {
  margin-right: 1px;
}

.link:hover {
  background-color: #95e1d3;
}

.member-name {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
}

.member-occupation {
  font-style: italic;
  color: #999999;
}

/* FOOTER SECTION */

.footer-container {
  display: flex;
  max-width: 1200px;
  height: 62px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  border-top: 1px solid #e5e5e5;
}

.footer-box {
  max-width: 1230px;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.author {
  color: #f38181;
}

form,
input {
  height: 40px;
  line-height: 1;
}

input[type="submit"] {
  padding: 0;
  width: 150px;
  margin-left: -5px;
  background-color: #95e1d3;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
}

input[type="email"] {
  padding: 0 20px;
  width: 230px;
  color: #ccc;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  border: 1px solid #e5e5e5;
}

input::-webkit-input-placeholder {
  color: #ccc;
}

input[type="submit"]:hover {
  cursor: pointer;
}
